@font-face {
    font-family: Norse-Bold;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

a:link {
    color: #596D48;
}

#wholepage {
    min-height: 100vh;
    display: flex;
}

footer {
    margin-top: 100vh;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}
.footer a:link{
    color: white;
}

.leftside {
    background-image: url(/img/backgroundLeaves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 40vw
}

.tagimg{
    max-width: 40vw;
    max-height: 12vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    margin-top: 250px;
}
.logoimg{
    align-self: center;
    
}

.sitename {
    color: white;
    align-self: center;
    font-family: Norse-Bold, Helvetica;
    font-size: 70px;
}

.logoimg {
    max-width: 70px;
    max-height: 70px;
}

.toptext{
    margin: 50px;
    display: flex;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    width: 500px;
}

.encouragement {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 50px;
}

form {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
}
.theform{
    margin-left: 40px;
}

label,input{
    margin-left: 40px;
    display:flex;
    flex-direction:column;
  }
  input {
      margin-bottom: 10px;
  }

  .theinfo{
    box-shadow: 1px 5px 5px 3px black;
    margin-bottom: 25px;
  }

  button {
      height: 40px;
      width:200px;
      border-radius: 10px;
      background-color: #596D48;
      color: white;
  }

  .alreadyuser {
      font-family: Helvetica, sans-serif;
      margin-left: 25px;
  }

  .login {
      font-weight: bold;
  }